
body{
  font-family: 'Merriweather', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.wrapper{
  background: url('../../assets/images/background.jpg') fixed;
  background-size: cover;
  position: relative;
  overflow:hidden;
  padding-left: 18px;
  padding-right:18px;
  max-width: 1236px; /*to offset padding 18 x 2

                     after border-box */
  margin-left: auto;
  margin-right: auto;
  top:0;
  bottom:0;
  height:100vh;

}
.btn{
  border: black 1px solid;
  width: 20%;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}
