
body{
  font-family: 'Amaranth', sans-serif;

}

img{
  max-width: 100%;

  height: auto;
}

* {
  box-sizing: border-box;
}

.wrapper{
  background: url('../../assets/images/background.jpg') fixed center center;
  background-size:auto;
  position: relative;
  padding-left: 18px;
  padding-right:18px;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  border:2px solid black;
  height:150vh;
  overflow: hidden;
}
.btn{
  border: black 1px solid;
  width: 20%;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;

}
