/*----------------------------GAME BOARD*/
.board {
  border: 6px solid rgba(255, 255, 255, .3);
  box-shadow: 0px 5px 10px 3px #000;
  background-color: #D8D79F;
  border-radius: 10%;
  overflow: hidden;
  color: white;
  width: 90vw;
  height: 50vh;
  display: none;
  flex-flow: row wrap;
  cursor: pointer;

  @mixin atMedium {
    width: 60vw;
  }

  @mixin atSuperLarge {
    width: 45vw;
  }

  @media (max-height:550px) {
    height: 80vh;
  }

  /*-------------------CELLS*/
}

.cell {
  position: relative;
  margin: auto;
  overflow: hidden;
  border: white 1px solid;
  height: 25%;
  width: 25%;
  text-align: center;
  transition: transform .7s linear;
  transform-style: preserve-3d;

  &__flipped {
    cursor: none;
    transform: rotateY(180deg);

    .front {
      color: #000;
      opacity: 0;
      transition: opacity 1s ease-in;

      &:hover {
        background-color: #000;
      }
    }
  }
}

.front {
  z-index: 333;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  /*flex to make animal names always appear in the center
  of the cell*/
  &:hover {
    cursor: pointer;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-color: #e5e5e5;
    }

    @mixin atMedium {
      background-color: rgba(229, 229, 229);
    }
  }

  &:active {
    color: orange;
    background-color: rgba(229, 229, 229);
  }

  &__non-hover {
    &:hover {
      cursor: none;
      background: #000;
    }

    &:active {
      color: #FFF;
    }
  }

  p {
    @mixin atMedium {
      font-size: responsive;
      min-font-size: 25px;
      max-font-size: 30px;
    }
  }
}

.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  transform: rotateY(180deg);
  /*to have cell picture turned in the same direction
  as the main one*/
  display: flex;
  justify-content: center;
}