
/*---------------GAME*/

#start{
  font-weight: bold;
  @mixin centerVerHor;

}

/*----------------------------GAME BEGINS*/
.gamearea{
  margin-top: 3%;
  &__columns{
    display: flex;
    justify-content: center;
    align-items: center;

    & > div{
      display: inline-block;
      margin: 1.5%;
    }
  }
  &__pointer{
    background-color: #4D81BF;
    /*width: 150px; */
    height: 40px;
    line-height: 40px;
    position: relative;

    &:after{
      color: #4D81BF;
      border-left: 20px solid;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      display: inline-block;
      content: '';
      position: absolute;
      right: -20px;
      top:0;
    }
  }
  &__picture{
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    border: 6px solid rgba(255, 255, 255, .3);
    box-shadow: 0px 5px 18px 1px black;

  }
}


/*----------------------------GAME BOARD*/
.board{
  border: 6px solid rgba(255, 255, 255, .3);
  box-shadow: 0px 5px 10px 3px black;
  max-width: 592px;
  margin: 1% auto 0 auto;
  border-radius: 10%;
  overflow: hidden;
  font-size: 25px;
  line-height: 1.15;
}

.row{
perspective:800px;
color: white;
}
.cell{

  position: relative;
  border: white 1px solid;
  width:140px;
  height: 140px;
  display: inline-block;
  text-align: center;
  /*transition: all .5s ease-in-out;*/
  transition: transform 1s;
  transform-style:preserve-3d;
  &__flipped{
    transform: rotateY(-180deg);
  }
  }



.front{
  z-index: 333;
  width:inherit;
  height: inherit;
  position: absolute;
  background: black; /*linear-gradient(to right, #575757 0%,#636363 12%,#6f6f6f 25%,#525252 39%,#393939 50%,#1f1f1f 60%,#383838 76%,#0f0f0f 78%,#0f0f0f 78%,#2a2a2a 91%,#212121 100%)*/
  backface-visibility: hidden;



  &:hover{
    cursor: pointer;
    background-color: rgba(229, 229, 229);
  }
  &__non-hover:hover{
    cursor:default;
    background-color: black;
  }


}

.back{
  position: absolute;
  transform: rotateY(-180deg);
  backface-visibility:hidden;
}

.message{
  margin: 0 auto;
  display: block;
}
.finalMessage{
  display: none;
  position:absolute;
  color: red;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
  width: 148px;
  flex-wrap: wrap;
  height: 148px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
    &__text{
      margin:0 auto;
      align-self: center;
  }
}
