.site-header{
  background-color:black;
  color: #FFF;
  height: 120px;
  & > *{

  }
  @mixin clearfix;

  &__wrapper{
    display:flex;
  overflow: hidden;
    padding-left: 18px;
    padding-right:18px;
    max-width: 1236px; /*to offset padding 18 x 2
    after border-box */
    margin-left: auto;
    margin-right: auto;
  }
  &__logo{
    display: block;
    height: 156px;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    margin: -10px auto 0 auto;
  /*  transition: scale 1s ease-out;
    transform: scale(1.5);*/
  }
}
